@model IEnumerable<OnlineShoppingStore.Models.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>


<hr />


@foreach (var item in Model)
{
    <div class="Search">
        <div class="col-md-3 col-sm-3 col-xs-6 tile" style="margin-bottom:8px;">
            <div class="thumbnail product-item" style="height:310px">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer; height:160px; width:100%"
                     src="~/ProductImg/@item.ProductImage" />

                <div class="caption">
                    <div id="productName"><h5>@item.ProductName</h5></div>
                    <p>@item.Price €</p>
                    <div>
                        @if (item.Quantity > 0)
                        {

                            using (Html.BeginForm("Buy", "ShoppingCartItem", new { id = item.ProductId }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>

                            }

                            <p>Available</p>
                        }
                        else
                        {
                            <p>Not Available</p>
                        }
                    </div>
                    <div class="product-item-badge">
                        @if (item.IsFeatured == true)
                        {
                            <p>New</p>
                        }
                        else
                        {
                            <p>Old</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    


}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>

    $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }

            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });

    </script>

