

<ul class="nav navbar-nav navbar-center">
    <li><a class="glyphicon glyphicon-shopping-cart" href="@Url.Action("Index","ShoppingCartItem")"> </a></li>

    <li><p style="margin-top:17px">(@ViewData["Count"])</p></li>

</ul>


