@model IEnumerable<OnlineShoppingStore.Models.ViewModels.ProductViewModel>



@foreach (var item in Model)
    {
<div class="col-md-3 col-sm-3 col-xs-6 tile" style="margin-bottom:8px;">
    <div class="thumbnail product-item" style="height:310px">
        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer; height:160px; width:100%"
             src="~/ProductImg/@item.ProductImage" />

        <div class="caption">
            <h5>@item.ProductName</h5>
            <p>@item.Price €</p>
            <div>
                @if (item.Quantity > 0)
                {

                    using (Html.BeginForm("Buy", "ShoppingCartItem", new { id = item.ProductId }, FormMethod.Post))
                    {
                        <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>

                    }

                    <p>Available</p>
                }
                else
                {
                    <p>Not Available</p>
                }
            </div>
            <div class="product-item-badge">
                @if (item.IsFeatured == true)
                {
                    <p>New</p>
                }
                else
                {
                    <p>Old</p>
                }
            </div>
        </div>
    </div>
</div>
    }